$primary: #06664b !default;
$secondary: #595650 !default;
$light: #b1afaf;
$dark: #262626;
$orange: #ffa000;

$font-xs: 0.625rem; //10px
$font-sm: 0.75rem; //12px
$font-md: 0.875rem; //14px
$font-normal: 1rem; //16px
$font-lg: 1.125rem; //18px
$font-xl: 1.25rem; //20px
